<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.iit.nfc.lockers">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.NfcActionActivity"
            android:label="@string/title_activity_nfc_action"
            android:parentActivityName=".Activities.LockerDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bme.iit.nfc.lockers.Activities.LockerDetailsActivity" />
            <intent-filter>
                <action android:name="hu.bme.iit.nfc.lockers.nfcactivity.close" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LockerDetailsActivity"
            android:label="@string/title_activity_locker"
            android:parentActivityName=".Activities.LockersActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.bme.iit.nfc.lockers.Activities.LockersActivity" />
        </activity>
        <activity
            android:name=".Activities.LockersActivity"
            android:label="@string/title_activity_lockers"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Domain.CardService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/custom_host_apdu_service" />
        </service>
    </application>

</manifest>